<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Форма добавления шаблона</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script>
        // function toggleFields() {
        //     var type = document.getElementById("type").value;
        //     var paymentGroups = document.querySelectorAll(".not-basic-group");
        //
        //     paymentGroups.forEach(function(group) {
        //         if (type === 'BASIC') {
        //             group.style.display = 'none';
        //         } else {
        //             group.style.display = 'block';
        //         }
        //     });
        // }

        function toggleAmountOrPercent() {
            var type = document.querySelector('input[name="type"]:checked').value;
            var amountGroup = document.getElementById("amountGroup");
            var percentGroup = document.getElementById("percentGroup");

            if (type === 'amount') {
                amountGroup.style.display = 'block';
                percentGroup.style.display = 'none';
            } else {
                amountGroup.style.display = 'none';
                percentGroup.style.display = 'block';
            }
        }

        window.onload = function() {
            // toggleFields();
            // document.getElementById("type").addEventListener("change", toggleFields);

            toggleAmountOrPercent();
            document.querySelectorAll('input[name="type"]').forEach(function(elem) {
                elem.addEventListener("change", toggleAmountOrPercent);
            });
        };
    </script>
    <style>
        .sidebar {
            width: 80px;
            position: fixed;
            height: 100%;
            background-color: #f8f9fa;
            padding-top: 20px;
            transition: width 0.3s;
        }
        .sidebar.expanded {
            width: 20%;
        }
        .sidebar .nav-link {
            display: flex;
            align-items: center;
            padding: 10px;
        }
        .sidebar .nav-link .link-text {
            display: none;
            margin-left: 10px;
        }
        .sidebar.expanded .nav-link .link-text {
            display: inline;
        }
        .content {
            margin-left: 80px;
            padding: 20px;
            transition: margin-left 0.3s;
        }
        .content.expanded {
            margin-left: 20%;
        }
        .form-row {
            display: flex;
            gap: 10px; /* Уменьшите расстояние между полями */
            align-items: flex-end; /* Выравнивание по нижнему краю */
        }
        .form-row .form-group {
            flex: 0 0 auto; /* Поля не будут растягиваться */
        }
        .form-row .form-group label {
            margin-bottom: 0; /* Уменьшите отступ снизу у меток */
        }
        .form-group {
            max-width: 400px; /* Установите максимальную ширину для всех полей формы */
        }
        .form-control {
            width: 100%; /* Поля будут занимать всю доступную ширину в пределах max-width */
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>
<div th:replace="~{fragments/message :: message}"></div>
<div class="content" id="content">
    <div class="container mt-5">
        <form th:action="@{/template/save}" th:object="${template}" method="post" class="mt-3">
            <div class="form-group">
                <label for="operationType">Тип операции:</label>
                <select class="form-control" name="operationType" id="operationType" th:field="*{template.operationType}" onchange="toggleFields()" required>
                    <option th:each="operationType : ${T(org.aturkov.expense.domain.OperationType).values()}"
                            th:value="${operationType}"
                            th:text="${operationType.alias}"
                    ></option>
                </select>
            </div>
            <div class="form-group">
                <label for="type">Тип платежа:</label>
                <select class="form-control" name="type" id="type" th:field="*{template.type}" onchange="toggleFields()" required>
                    <option th:each="typeOption : ${T(org.aturkov.expense.domain.Type).values()}"
                            th:value="${typeOption}"
                            th:text="${typeOption.alias}"
                    ></option>
                </select>
            </div>
            <div class="form-group">
                <label for="item">Статья:</label>
                <select class="form-control" name="item" id="item" th:field="*{template.itemId}" required>
                    <option th:each="item : ${items}"
                            th:value="${item.id}"
                            th:text="${item.name}"
                    ></option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Название:</label>
                <input type="text" th:field="*{template.name}" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label>Тип ввода:</label>
                <div>
                    <input type="radio" id="amountType" name="type" value="amount" checked>
                    <label for="amountType">Сумма</label>
                    <input type="radio" id="percentType" name="type" value="percent">
                    <label for="percentType">Процент</label>
                </div>
            </div>
            <div class="form-group" id="amountGroup">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="amount">Сумма:</label>
                        <input type="number" th:field="*{template.amount}" class="form-control" id="amount" style="width: 150px;" step="0.01">
                    </div>
                    <div class="form-group col">
                        <label for="currency">Валюта:</label>
                        <select class="form-control" name="currency" id="currency" th:field="*{template.currency}" style="width: 100px;">
                            <option th:each="currencyOption : ${T(org.aturkov.expense.domain.CurrencyType).values()}"
                                    th:value="${currencyOption}"
                                    th:text="${currencyOption.getValue()}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="" id="percentGroup" style="display: none;">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="percent">Процент:</label>
                        <input type="number" th:field="*{template.percent}" class="form-control" id="percent" style="width: 150px;" step="0.01">
                    </div>
                    <!-- <div class="form-group col">
                        <label for="dependTemplateId">Зависимый шаблон:</label>
                        <select class="form-control" name="dependTemplateId" id="dependTemplateId" th:field="*{template.dependTemplateId}">
                            <option value="">выберите шаблон</option>
                            <option th:each="template : ${templates}" th:value="${template.id}" th:text="${template.name}">Template</option>
                        </select>
                    </div> -->
                    <div class="form-group col">
                        <label>Зависимые шаблоны:</label>
                        <div class="template-checkbox-list" style="max-height: 200px; overflow-y: auto; border: 1px solid #ddd; padding: 10px; border-radius: 4px;">
                            <div class="form-check" th:each="template : ${templates}">
                                <input class="form-check-input" 
                                       type="checkbox" 
                                       th:field="*{template.dependTemplateIds}" 
                                       th:value="${template.id}" 
                                       th:id="'template_' + ${template.id}">
                                <label class="form-check-label" 
                                       th:for="'template_' + ${template.id}" 
                                       th:text="${template.name}">
                                    Template
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="allDetails">Все доходы</label>
                        <input class="form-check-input" type="checkbox" th:field="*{template.allDetails}" id="allDetails">
                    </div>
                    <div class="form-group col">
                        <label for="templatePeriod">Шаблон периода:</label>
                        <select class="form-control" name="templatePeriod" id="templatePeriod" th:field="*{template.templatePeriod}">
                            <option value="">выберите период</option>
                            <option th:each="templatePeriod : ${T(org.aturkov.expense.domain.PaymentPeriod).values()}"
                                    th:value="${templatePeriod}"
                                    th:text="${templatePeriod.name}"
                            ></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="deposit">Счет:</label>
                <select class="form-control" name="deposit" id="deposit" th:field="*{template.depositId}">
                    <option value="">Выберите счет</option>
                    <option th:each="deposit : ${deposits}" th:value="${deposit.id}" th:text="${deposit.name}">Deposit</option>
                </select>
            </div>
            <div class="form-group">
                <label for="period">Период оплаты:</label>
                <select class="form-control" name="period" id="period" th:field="*{template.period}">
                    <option th:each="period : ${T(org.aturkov.expense.domain.PaymentPeriod).values()}"
                            th:value="${period}"
                            th:text="${period.name}"
                    ></option>
                </select>
            </div>
            <div class="form-group" >
                <label for="paymentCount">Количество платежей:</label>
                <input type="number" th:field="*{template.paymentCount}" class="form-control" id="paymentCount">
            </div>
            <div class="form-group">
                <label for="paymentDay">Платежный день:</label>
                <input type="number" th:field="*{template.paymentDay}" class="form-control" id="paymentDay">
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" th:field="*{template.weekend}" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Дата оплаты до выходных</label>
            </div>
            <div class="form-group">
                <label for="paymentDate">Дата первого платежа:</label>
                <input type="date" th:field="*{template.paymentDate}" class="form-control" id="paymentDate">
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" th:field="*{template.paymentInCurrentMonth}" id="flexSwitchCheck">
                <label class="form-check-label" for="flexSwitchCheck">Дополнительный платеж в месяце (в платежный день)</label>
            </div>
            <div class="form-group">
                <label for="expiryDate">Конченый срок оплаты:</label>
                <input type="date" th:field="*{template.expiryDate}" class="form-control" id="expiryDate">
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </form>
    </div>
</div>
<script>
    function toggleSidebar() {
        document.getElementById('sidebar').classList.toggle('expanded');
        document.getElementById('content').classList.toggle('expanded');
    }
</script>
</body>
</html>
